* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid{
    
    width: 100vw;
    height: 100vh;
    background: #16A085;
    display: grid;
    grid-template-columns: 1fr 1.7fr 1fr;
    grid-template-rows: 0.5fr 2.5fr 1fr;
    grid-template-areas: "hd hd hd"
                         "sb mo sb2"
                         "ft ft ft2"
}

.modal{
    
    grid-area: mo;
    background:white url("../img/bicycle.png") no-repeat;    
    background-size: cover;
    background-position: -0.3em 12em;       
    font-family: 'Roboto', Arial, Helvetica, sans-serif;    
    border-radius: 4px;
    box-shadow: 0px 2px 10px  black;
    padding: 3em 5em 1em 5em;    
}

.head{
    font-size: 1.3em;
    width: 100%;
    display: flex;    
    justify-content: space-between;
}

.circle{
    display: flex;
    align-content: center;
    padding: 0.4em;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 50%;
    cursor: pointer;
}

.circle:hover{
    box-shadow: 0px 0px 10px rgb(99, 99, 99);
    transition:450ms;
}

.thanks{
    margin: 1.1em 0 2em 0;
    color:#AAAAAA;
}

.content{
    display: flex;
    justify-content: space-between;
    line-height: 3em;
}

.content ul{
    list-style: none;
}

.items{
    color: rgb(99, 97, 97);
    font-weight: bold;
}

.items li:nth-child(3){
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
}

.prices{
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width:960px){
    
    .thanks{
        text-align: center;
    }
    .head {
        text-align: center;  
        align-items: center;      
        flex-direction: column-reverse;       
    }

    .content{
        text-align: center;
        flex-direction: column;
    }

    .prices{
        display:none;
    }

    
}